//-head.jade

head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')
	//-script(src='http://code.jquery.com/jquery-latest.min.js')
	//-script(src= '/javascripts/main.js')
	//-script(src= '/javascripts/site.js')